*{
    box-sizing: border-box;
}
body,html {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background: #FCFCFD;
}
.sidebar-navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 362px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #EAECF0;
    display: flex;
}
.sidebar-logos{
    width: 81px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #EAECF0;
}
.sidebar-logos-nav{
    width: 81px;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 24px;
}
.sidebar-logos-nav-header{
    width: 81px;
    height: 32px;
    padding: 0px 20px 0px 24px;
}
.sidebar-logos-nav-header svg{
    height: 32px;
    width: 32px;
}
.sidebar-logos-nav-navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 8px;
    width: 81px;
}
.sidebar-logos-nav-navigation-button{
    height: 48px;
    width: 48px;
    padding: 12px;
}
.sidebar-logos-nav-navigation-button svg{
    height: 24px;
    width: 24px;
}
.sidebar-logos-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 81px;
    height: 200px;
}
.sidebar-logos-footer-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 200px;
    margin: 0px 16px;
}

.subnav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    width: 281px;
    height: 100%;
}
.subnav-content{
    display: flex;
    flex-direction: column;
    padding: 36px 16px 0px;
    gap: 16px;
}
.subnav-content-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
}
.subnav-navigation{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 249px;
}
.subnav-navigation-item{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    width: 249px;
    height: 40px;
    background: #ffffff;
    border-radius: 6px;
}
.subnav-navigation-item-content{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 225px;
    height: 24px;
}
.subnav-navigation-item-content svg{
    width: 24px;
    height: 24px;
}
.subnav-navigation-item-content-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #344054;
}
.subnav-navigation-item-badge{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    width: 30px;
    height: 22px;
    background: #F2F4F7;
    mix-blend-mode: multiply;
    border-radius: 16px;
}
.subnav-navigation-item-badge-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #344054;
}
.subnav-account{
    position: relative;
    display: flex;
    padding: 0px 48px 24px 20px;
    gap: 47px;
    isolation: isolate;
    width: 281px;
    height: 64px;
}
.subnav-account-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subnav-account-text span{
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
.subnav-account-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 12px;
    top: -8px;
    border-radius: 8px;
}
.navbar{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 12px 16px;
    width: 100%;
    height: 64px;
    background: #ffffff;
    border-bottom: 1px solid #EAECF0;
}
